@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
</script>

<style type="text/css">
        iframe {
            position: absolute;
            height: 100%;
            border:none;
            margin:0px;
        }
    </style>

<table height="100%" width="100%">
    <tr>
        <td width="30%">
            <iframe id="sitemap" src="SiteMap/SiteMap" width="25%"> </iframe>
        </td>
        <td  width="70%">
            <iframe id="details" src="TargetContainer/Details" width="65%"> </iframe>
        </td>

    </tr>
</table>